/* General */
:root{
    --very-light-pink: #c7c7c7;
    --white:#ffffff;
    --text-input-field: #f7f7f7;
    --black: #000000;
    --hospital-green: #acd9b2;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Navbar */
.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 48px;
    align-items: center;
    padding: 0 48px;
    box-shadow: 0px 0px 4px 0px var(--very-light-pink);
    height: 56px;
    min-width: fit-content;
    z-index: 10;
}
.menu {
    display: none;
    cursor: pointer;
}
.logo {
    width: 140px;
}
.navbar > ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 4px;
}
.navbar .categories li a {
    text-decoration: none;
    font-size: var(--md);
    font-weight: 700;
    color: var(--dark);
    padding: 8px;
    border-radius: 8px;
    border: 1px var(--white) solid;
}
.navbar .categories li a:hover {
    border: 1px var(--hospital-green) solid;
    color: var(--hospital-green);
}
.navbar .right-menu {
    gap: 20px;
}
.navbar .right-menu .account {
    cursor: pointer;
    display: flex;
    gap: 8px;
}
.navbar .right-menu .account p {
    color: var(--dark);
    font-size: var(--sm);
}
.navbar .right-menu .account img {
    transform: rotate(90deg);
}
.navbar .right-menu .shopping-cart-icon {
    cursor: pointer;
}

/* Desktop menu */
.desktop-menu {
    position: absolute;
    top: 56px;
    right: 98px;
    background-color: var(--white);
    width: 100px;
    height: auto;
    box-shadow: 0px 0px 4px 0px var(--very-light-pink);
    border-radius: 6px;
    padding: 0 20px 0;
    z-index: 10;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li {
    text-align: end;
    
}
.desktop-menu ul li a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    font-weight: 700;
    font-size: var(--md);
    margin: 20px 0 20px;
}
.desktop-menu hr {
    border-top: 1px var(--very-light-pink) solid;
    margin: 20px 0 20px;
}        
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
    margin: 0 0 28px;
}

/* Mobile menu */
.mobile-menu {
    position: absolute;
    top: 56px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px;
    width: 100%;
    box-sizing: border-box;
}
.mobile-menu ul {
    list-style: none;
    padding: 0;
}
.mobile-menu hr {
    border-top: 1px var(--very-light-pink) solid;
    margin: 20px 0;
}
.mobile-menu ul:last-child li{
    margin-bottom: 0;
}
.mobile-menu ul li{
    margin-bottom: 28px;
}
.mobile-menu ul li a {
    text-decoration: none;
    font-weight: 700;
    color: var(--black);
}

.mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
}
.mobile-menu .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green);
}

/* Aside */
aside {
    position: absolute;
    right: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 360px;
    min-height: calc(100vh - 56px);
    max-height: fit-content;
    padding: 16px;
    box-shadow: 0px 0px 4px 0px var(--very-light-pink);
    background-color: var(--white);
    box-sizing: border-box;
}
aside .title {
    display: flex;
    margin-bottom: 16px;
}
aside .title h1 {
    font-size: var(--lg);
    margin: 0;
}
aside .title img {
    transform: rotate(180deg);
    margin: 0 16px;
}
.shopping-cart-content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
.shopping-cart-content .item {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
}
.shopping-cart-content .item figure {
    margin: 0;
}
.shopping-cart-content .item figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart-content .item p:nth-child(2) {
    color: var(--dark);
}
.shopping-cart-content .item p:nth-child(3) {
    color: var(--dark);
    font-weight: 700;
}
.shopping-cart-content .item img {
    margin-right: 4px;
}
aside .order {
    display: grid;
    gap: 16px;
    align-items: center;
    grid-template-columns: auto 1fr;
    background-color: var(--text-input-field);
    border-radius: 8px;
    padding: 8px 24px;
    margin-bottom: 24px;
}
aside .order p:first-child {
    font-size: var(--sm);
    font-weight: 700;
}
aside .order p:last-child {
    text-align: end;
    color: var(--dark);
    font-weight: 700;
}
.primary-button {
    padding: 18px;
    font-size: var(--md);
    font-weight: 700;
    color: var(--white);
    font-family: 'Quicksand', sans-serif;
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Product details */
#product-detail {
    grid-template-rows: auto auto 1fr;
    padding: 0;
}
.close {
    position: absolute;
    top: 12px;
    left: 12px;
    height: 14px;
    width: 14px;
    background-color: var(--text-input-field);
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px var(--very-light-pink);
    padding: 12px;
    cursor: pointer;
}
#product-detail > img {
    width: 100%;
    height: 360px;
    border-radius: 0 0 24px 24px;
    object-fit: cover;
}
.dots {
    text-align: center;
    padding-top: 4px;
}
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: var(--text-input-field);
    border-radius: 50%;
    display: inline-block;
}
.dots .dot:first-child {
    background-color: var(--very-light-pink);
}
#product-detail .product-info {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: 16px;
}
#product-detail .product-info p:first-child {
    font-size: var(--md);
    font-weight: 700;
    margin: 4px 0;
}
#product-detail .product-info p:nth-child(2) {
    font-size: var(--md);
    color: var(--dark);
    margin: 4px 0;
}
#product-detail .product-info p:nth-child(3) {
    font-size: var(--sm);
    color: var(--dark);
    margin: 20px 0;
}
#product-detail .primary-button {
    padding: 8px;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Products */
.cards-container {
    --card-size: 240px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 24px;
    place-content: center;
    padding: 24px;
    /* background-color: var(--white); */
}
.product-card {
    width: var(--card-size);
    margin-top: 12px;
}
.product-img {
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
}
.product-card .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure {
    margin: 0;
}
.product-info div p:first-child {
    font-weight: 700;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info div p:last-child {
    font-size: var(--sm);
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 0;
}


.inactive {
    display: none;
}

@media (max-width: 640px) {
    .navbar {
        padding: 0 24px;
        justify-items: center;
    }
    .menu {
        display: block;
    }
    .logo {
        width: 120px;
    }
    .navbar .categories {
        display: none;
    }
    .navbar .right-menu .account {
        display: none;
    }
    .desktop-menu {
        display: none;
    }
    .title {
        display: none;
    }
    aside {
        width: 100%;
    }
    .shopping-cart-content {
        margin-top: 8px;
    }
    .cards-container{
        --card-size: 160px;
        gap: 12px;
        padding: 12px;
    }
}
@media (min-width: 641px) {
    .mobile-menu{
        display: none;
    }
}