/* General */
:root{
    --very-light-pink: #c7c7c7;
    --white:#ffffff;
    --text-input-field: #f7f7f7;
    --black: #000000;
    --hospital-green: #acd9b2;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Navbar */
.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 48px;
    align-items: center;
    padding: 0 48px;
    box-shadow: 0px 0px 4px 0px var(--very-light-pink);
    height: 56px;
    min-width: fit-content;
}
.menu {
    display: none;
    cursor: pointer;
}
.logo {
    width: 140px;
}
.navbar > ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 4px;
}
.navbar .categories li a {
    text-decoration: none;
    font-size: var(--md);
    font-weight: 700;
    color: var(--dark);
    padding: 8px;
    border-radius: 8px;
    border: 1px var(--white) solid;
}
.navbar .categories li a:hover {
    border: 1px var(--hospital-green) solid;
    color: var(--hospital-green);
}
.navbar .right-menu {
    gap: 20px;
}
.navbar .right-menu .account {
    cursor: pointer;
    display: flex;
    gap: 8px;
}
.navbar .right-menu .account p {
    color: var(--dark);
    font-size: var(--sm);
}
.navbar .right-menu .account img {
    transform: rotate(90deg);
}

/* Desktop menu */
.desktop-menu {
    position: absolute;
    top: 56px;
    right: 98px;
    background-color: var(--white);
    width: 100px;
    height: auto;
    box-shadow: 0px 0px 4px 0px var(--very-light-pink);
    border-radius: 6px;
    padding: 0 20px 0;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li {
    text-align: end;
    
}
.desktop-menu ul li a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    font-weight: 700;
    font-size: var(--md);
    margin: 20px 0 20px;
}
.desktop-menu hr {
    border-top: 1px var(--very-light-pink) solid;
    margin: 20px 0 20px;
}        
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
    margin: 0 0 28px;
}

/* Mobile menu */
.mobile-menu {
    position: absolute;
    top: 56px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px;
    width: 100%;
    box-sizing: border-box;
    z-index: -1;
}
.mobile-menu ul {
    list-style: none;
    padding: 0;
}
.mobile-menu hr {
    border-top: 1px var(--very-light-pink) solid;
    margin: 20px 0;
}
.mobile-menu ul:last-child li{
    margin-bottom: 0;
}
.mobile-menu ul li{
    margin-bottom: 28px;
}
.mobile-menu ul li a {
    text-decoration: none;
    font-weight: 700;
    color: var(--black);
}

.mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
}
.mobile-menu .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green);
}

.inactive {
    display: none;
}

@media (max-width: 640px) {
    .navbar {
        padding: 0 24px;
        justify-items: center;
    }
    .menu {
        display: block;
    }
    .logo {
        width: 120px;
    }
    .navbar .categories {
        display: none;
    }
    .navbar .right-menu .account {
        display: none;
    }
    .desktop-menu {
        display: none;
    }
}
@media (min-width: 641px) {
    .mobile-menu{
        display: none;
    }
}