@use "./vars";

.my-account {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}
.my-account .form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.my-account .form-container .title {
  font-size: var(--lg);
  margin-bottom: 44px;
}
.my-account .form-container .form {
  display: flex;
  flex-direction: column;
}
.my-account .form-container .form div {
  display: flex;
  flex-direction: column;
}
.my-account .form-container .form div .label {
  margin-bottom: 4px;
  font-size: var(--sm);
  font-weight: 700;
}
.my-account .form-container .form div .value {
  color: var(--dark);
  font-size: var(--md);
  margin: 12px 0 24px 0;
  height: 28px;
}
.my-account .form-container .form .secondary-button {
  padding: 18px;
  font-size: var(--md);
  font-weight: 700;
  color: var(--hospital-green);
  font-family: 'Quicksand', sans-serif;
  background-color: var(--white);
  border-radius: 8px;
  border: 1px var(--hospital-green) solid;
  cursor: pointer;
  width: 100%;
}
.my-account .form-container .form .login-button {
  margin-top: 20px;
  margin-bottom: 28px;
}
@media (max-width: 640px) {
  .my-account .form-container {
      height: 100%;
  }
  .my-account .form-container .title {
      margin-top: 36px;
  }
  .my-account .form-container .form {
      height: 100%;
      justify-content: space-between;
  }
}