@use "./vars";

aside {
  position: fixed;
  right: 0;
  top: 56px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 360px;
  height: calc(100vh - 56px);
  padding: 16px;
  box-shadow: 0px 0px 4px 0px var(--very-light-pink);
  background-color: var(--white);
  box-sizing: border-box;
  overflow-y: auto;
}
aside .title {
  display: flex;
  margin-bottom: 16px;
}
aside .title h1 {
  font-size: var(--lg);
  margin: 0;
}
aside .title img {
  transform: rotate(180deg);
  margin: 0 16px;
  cursor: pointer;
}
.shopping-cart-content {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.shopping-cart-content .item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
}
.shopping-cart-content .item figure {
  margin: 0;
}
.shopping-cart-content .item figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart-content .item p:nth-child(2) {
  color: var(--dark);
}
.shopping-cart-content .item p:nth-child(3) {
  color: var(--dark);
  font-weight: 700;
}
.shopping-cart-content .item img {
  margin-right: 4px;
}
aside .order {
  display: grid;
  gap: 16px;
  align-items: center;
  grid-template-columns: auto 1fr;
  background-color: var(--text-input-field);
  border-radius: 8px;
  padding: 8px 24px;
  margin-bottom: 24px;
}
aside .order p:first-child {
  font-size: var(--sm);
  font-weight: 700;
}
aside .order p:last-child {
  text-align: end;
  color: var(--dark);
  font-weight: 700;
}
aside .primary-button {
  padding: 18px;
  font-size: var(--md);
  font-weight: 700;
  color: var(--white);
  font-family: 'Quicksand', sans-serif;
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
}
@media (max-width: 640px) {
  .title {
      display: none;
  }
  aside {
      width: 100%;
  }
  .shopping-cart-content {
      margin-top: 8px;
  }
}